/*Do this to every style sheet*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BACKGROUND */

body{
    background: center bottom url(images/nyc_banner_2.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* HEADER */

header {
    text-align: center;
    height: 220px;  
    background: rgba(116,204,209,0.5);
}

header img{
    height: 100%;
    padding: 20px;
}

/* NAVBAR */

#navbar{
/*    background: rgba(88, 154, 158, 0.75);*/
    background: rgba(116,204,209,.90);
/*    background: rgba(70, 81, 81,.5);*/
    text-align: center;
    padding: 8px;
    width: 100%;
    height: 20%;
    margin: 0;
    right: 0;
    left: 0;
    position: relative;
    
}

#navbar ul li{
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size : 1.2em;
/*    font-size:18px;*/
    letter-spacing : 0.15em;
    color: #465151;
/*    color: #fff;*/
    padding: 1.25em;
}

#navbar a{
    text-decoration: none;
    color: #465151;
    text-shadow: 0.5px 0.5px 0.5px rgba(255,255,255,0.5);
}

#navbar ul li a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255,0.75);
/*    text-shadow: 0.5px 0.5px 0.5px rgba(255,255,255,0.5);*/
}

#navbar ul li a:active{
    text-decoration: none;
    color: rgba(255, 255, 255,0.75);
/*    text-shadow: 0.5px 0.5px 0.5px rgba(255,255,255,0.5);*/
}

/* INDEX MAIN CONTENT */

#main{
    text-align: center;
    width: 100%;
    margin: auto;
    flex: 1;
}

/* BUTTONS */

#content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.text h1{
    position: relative;
    width: 100%;
    text-align: center;
/*    display: flex;*/
    
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size : 1.5em;
    letter-spacing : 0.15em;
    color: #465151;
}

.text a{
    position: relative;
    width: 100%;
    text-align: center;
/*    display: flex;*/
    
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size : 1.25em;
    letter-spacing : 0.15em;
    color: #465151;
    
    text-decoration: none;
}

.text h2{
    position: relative;
    width: 100%;
    text-align: center;
/*    display: flex;*/
    
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size : 1.25em;
    letter-spacing : 0.075em;
    color: #465151;
}

#buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.buttons{    
    display: inline-block;
    background: rgba(116,204,209,0.9);
    height: 200px;
    width: 200px;
    position: relative;
    margin: 20px;
    text-align: center;
    
    border:#fff;
    border-style: solid;
    border-width: 7px;
}
.buttons a img{
    display: inline-block;
    width: 175px;
    height: 175px;
    padding: 5px;
    margin: 5px auto;
}

/* FOOTER */

footer{
  background: rgba(116,204,209,0.95);
  width: 100%;
/*  height: 40px;*/
  height: 20%;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  
  color: #494949;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

footer .fa{
  font-size: 1.5em;
}


#email a{
  
  text-transform: none;
  letter-spacing : .075em;
  color: #494949;
  text-decoration: none;
}

#email i{
    color: #fff;
}

/* ICONS */

#icons a {
  text-transform: none;
  color: #fff;
  text-decoration: none;
  padding: 0.15em;
}

#copyright {
  position: relative;
  top: 4px;
  font-size: 1rem;
}

/* END OF INDEX */

/*ABOUT*/

/*ABOUT CONTENT*/

#about{
    width: 100%;
    height: 100vh;
    margin:1em;

}

#about h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.15em;
    color: #74ccd1;
    text-align: center;
}

#about ul{
    margin:1em;
}

#about ul li{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size : 0.75em;
    letter-spacing : 0.075em;
}

#photo{
    position: absolute;
    right:0;
    left: 0;
    clear: both;
    margin: auto;  
    width: 30%;
}

#photo img{
}

#student{
    position: relative;
    display: block;
    float: left;
    width:30%;
    height: 300px;
    top:0;
}

#designer{
    position: relative;
    display: block;
    float: right;
    width:30%;
    height: 300px;
    top:0;
}

#lover{
   position: relative;
   display: block;
   float: left;
   clear: left;
   width:30%; 
   height: 300px;
}

#untitled{
    position: relative;
    display: block;
    float: right;
    clear:right;
    width:30%;
    height:300px;    
}

/* END OF ABOUT */

/*GRAPHIC DESIGN*/

/*GRAPHIC DESIGN CONTENT*/

#graphicdesign{
    width: 100%;
    height: 100vh;
    margin:1em;
    
    display: flex;
    flex-direction: column;
    
}

#graphicdesign h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 0.15em;
    color: #74ccd1;
    text-align: center;
}

#logobuttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#printbuttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#adbuttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
